.pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-item .page-link {
    padding: 8px 12px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .page-item.active .page-link {
    background-color: #0056b3;
  }
  
  .page-item .page-link:hover {
    background-color: #0056b3;
  }
  

  .input-wrapper {
    position: relative;
    width: 271px;
  }
  
  .input {
    box-sizing: border-box;
    color: #191919;
    padding: 15px 15px 15px 35px;
    width: 100%;
  }

  .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 10px; /* Ajusta el tamaño aquí */
    height: 100px; /* Ajusta el tamaño aquí */
    color: #999; /* Color del icono */
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.input-wrapper {  
  /* display: flex; */
  width: 400px;
  /* justify-content: flex-end; */
}

.input {
  box-sizing: border-box;
  color: #191919;
  padding: 15px 15px 15px 35px;
  width: 100%;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpbnB1dC1pY29uIiB2aWV3Qm94PSIwIDAgMjAgMjAiIGZpbGw9ImN1cnJlbnRDb2xvciI+PHBhdGggZmlsbFJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDRhNCA0IDAgMTAwIDggNCA0IDAgMDAwLTggTTIgOGE2IDYgMCAxMTEwLjg5IDMuNDc2bDQuODE3IDQuODE3YTEgMSAwIDAxLTEuNDE0IDEuNDE0bC00LjgxNi00LjgxNkE2IDYgMCAwMTIgOHoiIGNsaXBSdWxlPSJldmVub2RkIiAvPjwvc3ZnPg==') no-repeat 10px center;
  background-size: 25px 25px;
}